@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476755424_5563278.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1476755424_5563278.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1476755424_5563278.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1476755424_5563278.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1476755424_5563278.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont{
	font-family: "iconfont";
	font-size: 30px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}                   

.iconfont.colorSelectIcon{
	text-shadow: #7E7E51 1px 0 0,#7E7E51 0 1px 0,#7E7E51 -1px 0 0, #7E7E51 0 -1px 0;
}

.iconfont.annotationTextCloseIcon {
	font-size: 14px;
}

.iconfont.annotationTextCloseIcon:hover {
	cursor: pointer;
	color: #FFAA00;
}